#mymapdiv {
    position: absolute;
    z-index: 9;
  }
  #mymapdiv2 {
    position: absolute;
    z-index: 9;
  }
  #mymapdiv3 {
    position: absolute;
    z-index: 9;
  }
  .mymapdiv4 {
    position: absolute;
    z-index: 9;
  }
  .mymapdiv {
    position: absolute;
    z-index: 9;
  }
  
  #item {
    cursor: move;
    z-index: 10;
  }

  img {
    width:45px;
  }

  .width20{
      width:60px;
      display: flex;
    flex:1;
    margin: 10px;
  }

  .title {
    background: black;
    height:50px;
  }

  .item-outer-box {
      height:50px;
      min-width: 50px;
  }

  .map-bg {
    background-image: url('../assets/images/grid3.jpg');
    background-size: 150px;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: left; 
  }