.title {
  background: black;
  height:50px;
}

/*class to link movable items from*/
  .mymapdiv {
    position: absolute;
    z-index: 9;
  }
/*token styling*/  
  img {
    width:45px;
  }
  .big  img {
    width:90px;
  }

  .big-blue-box{
    background-color: darkblue;
    min-width:100px;
    min-height:100px;
  }

  .width20{
      width:60px;
      display: flex;
    flex:1;
    margin: 10px;
  }
  .width40{
    width:100px;
    display: flex;
  flex:1;
  margin: 10px;
}

  .item-outer-box {
      height: 70px;
      min-width: 50px;
      background-color: rgba(250, 250, 250, .7);
  }
  .item-outer-box-lg {
    height: 110px;
    min-width: 50px;
    background-color: rgba(250, 250, 250, .7);
    margin-left:20px;
}

/*map area*/
  .map-bg {
    background-image: url('../assets/images/grid3.jpg');
    background-size: 150px;
    background-repeat: repeat;
    background-position: left; 
  }
  .map-zone {
    min-height: 1000px;
  }