.title {
  background: black;
  height:50px;
}
h4{
  color:white;
}
.flex1 {
  flex: 1;
}
.flex3 {
  flex: 3;
}
.left {
  text-align: left;
}
/*sets sizes for grey boxes*/
.item-outer-box {
  height: 50px;
  margin: 5px;
  min-width: 50px;
  background-color: rgba(250, 250, 250, .7);

}
.item-outer-box2 {
  height: 102px;
  margin: 5px;
  min-width: 50px;
  background-color: rgba(250, 250, 250, .7);

}
.item-outer-box-lg {
height: 129px;
margin:5px;
min-width: 50px;
background-color: rgba(250, 250, 250, .7);
}
@media only screen and (max-width: 700px){
.item-outer-box-lg{
display:none;
}
}
/*save map button*/
.bottom-right {
  font-size: 16px;
  color: #00d5c6;
  text-shadow:3px 3px 15px #00179d,5px 5px 15px #5f61ff;
  border-radius: 5px;
  border: solid 3px #00d5c6;
  box-shadow: 2px 2px 15px #5f61ff;
  font-weight: 400;
  padding: 10px 20px;
}
#output canvas{
  max-width: 200px;
  max-height: 200px;
  margin:10px;
  text-align:left;
}

.map-made-alert{
  display: none;
  color:white;
  font-size: 13px;;
}
/*class to link movable items from- I changed changed my drag function so now only in use to keep buttons below matching tokens*/
  .mymapdiv {
    position: absolute;
    z-index: 9;
  }
/*class to keep characters on top*/
  .charTop {
    z-index: 999;
  }
/*token styling*/  
  img {
    width:35px;
  }
  .big img {
    width:70px;
  }

  .width20{
      width:40px;
      display: flex;
    flex:1;
    margin: 8px 0px 0px 8px;
    text-align: center;
  }
  .width40{
    width:80px;
    display: flex;
  flex:1;
  margin: 10px 0px 0px 10px;
  text-align: center;
}



/*map area*/
  .map-bg {
    background-image: url('../assets/images/grid3.jpg');
    background-size: 380px;
    background-repeat: repeat;
    background-position:top left; 

  }
  .map-zone {
    min-height: 700px;
  }

  /*Token buttons*/
  button{
    background:rgba(0, 0, 0, .7);
    border:1px rgba(250, 250, 250, .7) solid;
    font-weight: 700;
    font-size: 12px;
    color:white;
    padding:5px;


  }
  button:hover{
    background:rgba(0, 0, 0, 1);
  }
  .big button{
    min-width:90px;
    margin-left: -10px;
    font-size: 12px;
    margin-top: 80px;
  }
  .width20 button{
    min-width:50px;
    margin-left: -8px;
    margin-top: 42px;
  }
