/*remove inherent coding*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*roots*/
  :root { 
    } 

/* universal*/
body {
    font-family: 'Commissioner','Gill Sans', sans-serif;
    line-height: 1.5;
    background-color: black;
}
h1 {
    font-family: 'Eagle Lake', sans-serif;
    color: #00d5c6;
    font-size: 44px;
    text-shadow:3px 3px 15px #00179d,5px 5px 15px #5f61ff;
}
h2 {
    font-family: 'Eagle Lake', sans-serif;
    font-size: 24px;
    font-weight: 400;
    /*text-shadow:0px 0px 3px #00d5c6;*/
    color: #00d5c6;
    text-shadow:3px 3px 15px #00179d,5px 5px 15px #5f61ff;
    padding:10px 0px;
}
h3 {
    font-family: 'Eagle Lake', sans-serif;
    font-size: 18px;
    padding:10px 0px;
}
h4 {
    font-family: 'Eagle Lake', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding:10px 0px;
}

/*Header*/
header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color:black;
    color:white;
}


header a{
    text-decoration: none;
    color: #00d5c6;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    margin: 0 14px;
    padding:5px 10px;
    font-size: 18px;
    border: 2px solid darkblue;

}

header nav ul li:hover{

    border: 2px solid #00d5c6;
    text-shadow:0px 0px 25px white,3px 3px 25px #5f61ff;

  }
/*end header*/

/* Hero Style Start */
.hero {
    background-image: url('../assets/images/sword.png');
    background-size: 100%;
    background-attachment: fixed;
    min-height: 200px;
    padding-right:30px;
  }

  .hero-box {
    text-align:right;
    padding: 5px 5px 5px 5px;
    background-color: rgba(100, 200, 200, .7);
    font-family: 'Eagle Lake', sans-serif;
    position: relative;
    bottom: 20px;
    box-shadow: 5px 5px 10px #00179d, 5px 5px 15px #5f61ff;
  }

/*hero style end*/

/*main body start*/
.infoDrop {
    font-family: 'Eagle Lake', sans-serif;
    font-size: 18px;
    font-weight: 400;
    background: none;
    border: none;
    /*text-shadow:0px 0px 3px #00d5c6;*/
    color: #00d5c6;
    text-shadow:3px 3px 15px #00179d,5px 5px 15px #5f61ff;
    padding:10px 0px;
}

.dropdown-content {
    display: none;
    position: absolute;
    padding:15px;
    box-shadow:inset 0px 0px 10px #000,0px 0px 4px #000;
    background-color: rgba(250, 250, 250, .7);
    min-width: 150px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.twoRow {
    padding: 10px;
    text-align: center;
}

/*About*/
section {
    display:flex;
    flex-wrap: wrap;
    padding: 20px;
    
}

.card {
    padding:15px;
    box-shadow:inset 0px 0px 10px #000,0px 0px 4px #000;
    background-color: rgba(250, 250, 250, .7);
    margin:20px;
    min-width: 150px;
}
.card-white {
    padding:15px;
    background: whitesmoke;
    margin:20px;
    box-shadow:inset 0px 0px 10px #000;
}

.dark-glow {
    text-shadow:3px 3px 10px #00179d,0px 0px 5px #5f61ff;
}

.monkbg {
    background-image: url('../assets/images/MonkBg.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-position: bottom; 
    position: relative;
}

.firebg {
    background-image: url('../assets/images/FireBg.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-position: bottom; 
}

/*ImageSearch*/
#imageInput {
    font-size: 18px;
    min-height:35px;
    padding:5px;
    background-color:#00179d;
    color:white;
    border: 2px black solid;
    font-family: 'Commissioner','Gill Sans', sans-serif;
    margin-left:0px;
    box-shadow:inset 0px 0px 10px #000,0px 0px 4px #000;
}
.blackbg {
    background:black;
    max-width:360px;
}
#image-search-button {
    min-height:35px;
    max-height:35px;
    padding:5px;
    font-size: 16px;
    background-color: black;
    box-shadow:inset 0px 0px 10px #000,0px 0px 4px #000;
    color:white;
    font-family: 'Eagle Lake', sans-serif;
    margin:0px 0px;
    border:none;
    
}
#image-search-clear {
    min-height:35px;
    max-height:35px;
    padding:5px;
    font-size: 16px;
    background-color: rgb(97, 0, 0);
    box-shadow:inset 0px 0px 10px #000,0px 0px 4px #000;
    color:white;
    font-family: 'Eagle Lake', sans-serif;
    margin:0px 0px;
    border:none;
    
}
.pixbay-logo-link{
    max-width:120px;
    max-height:40px;
    position: absolute;
    padding:5px;
    bottom: 0;
    right:0;
    box-shadow:inset 0px 0px 10px #000,0px 0px 4px #000;
    background-color: rgba(250, 250, 250, .7);
}
.pixbay-logo-link img{
    max-width: 110px;
    max-height:30px;
}

.placeImages {
    font-size:18px;
    color: white;
    padding-left: 20px;
}

#placeImages img{
    max-width:200px;
    max-height:200px;
    flex:1;
    margin:10px;
    z-index: 9;

}