/*remove inherent coding*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*roots*/
  :root { 
  /*  --main:  #73DF00;
    --main:#9BCE36;
    */
  --main:rgb(97, 0, 0);
  --secondary: #14BCD9;
  --hover: rgb(49, 0, 88);
  --grey: #d8d8d8;
    } 

/* universal*/
body {
    font-family: 'Commissioner','Gill Sans', sans-serif;
    line-height: 1.5;
    background-color: black;
}
h1 {
    font-family: 'Eagle Lake', sans-serif;
    color:  var(--main);
    text-shadow:0px 0px 10px var(--secondary),3px 3px 5px white;
    font-size: 44px;
    text-shadow:3px 3px 15px var(--hover);
}
h2 {
    font-family: 'Eagle Lake', sans-serif;
    font-size: 24px;
    font-weight: 400;
    /*text-shadow:0px 0px 3px #00d5c6;*/
    color: var(--grey);
    text-shadow:3px 3px 15px var(--hover);
    padding:10px 0px 30px 10px;
}
h3 {
    font-family: 'Eagle Lake', sans-serif;
    font-size: 18px;
    padding:10px 0px;
}
h4 {
    font-family: 'Eagle Lake', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding:10px 0px;
}

button {
    min-height:35px;
    padding:5px 10px;
    font-size: 16px;
    background-color: var(--main);
    box-shadow:inset 0px 0px 15px #000,0px 0px 3px #000;
    color:white;
    font-family: 'Eagle Lake', sans-serif;
    margin:0px 0px;
    border:none;
    text-transform: uppercase;
    text-shadow:3px 3px 25px var(var(--main));

  }
  button:hover{
  background:var(--hover);
  color:var(--grey);
  }

.secondary-button :hover{
background-color: var(--hover);
color:var(--grey);
}

.secondary-button {
    min-height:35px;
    padding:5px 10px;
    font-size: 16px;
    background-color:var(--secondary) ;
    box-shadow:inset 0px 0px 10px #000,0px 0px 4px #000;
    color:black;
    font-family: 'Eagle Lake', sans-serif;
    margin:0px 0px;
    border:none;  
}


section {
    display:flex;
    flex-wrap: wrap;
    padding: 20px;
    
}

.card {
    padding:15px;
    box-shadow:inset 0px 0px 10px #000,0px 0px 4px #000;
    background-color: rgba(250, 250, 250, .7);
    margin:20px;
    min-width: 150px;
    position: flex;
    flex:1;
    max-width:30%;
    min-height:200px;
}
.card2{
    box-shadow:0px 0px 4px #000;
    background-color: rgba(0, 0, 0, .7);
    margin:20px;
    min-width: 150px;
    flex:1;
    max-width:30%;
}
.card2-body {
    padding:15px;
    box-shadow:inset 0px 0px 10px #000,;
    background-color: rgba(0, 0, 0, .7);
    margin:20px;
    min-width: 150px;
    flex:1;
    max-width:30%;
}
.card2-header {
    padding:10px;
    text-align: center;
    color:var(--grey);
    background-color:var(--main);
    box-shadow:inset 0px 0px 15px #000,0px 0px 3px #000;
    box-shadow:inset 0px 0px 10px #000;
}

.dark-glow {
    text-shadow:3px 3px 10px var(--hover),0px 0px 5px #5f61ff;
}

/*flexers*/

.space30 {
    width:30%;
    max-height:200px;
    flex:1;
}
.space100 {
    width:100%;
    flex:1;
}

/*Header*/
header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color:black;
    color:var(--grey);
}


header a{
    text-decoration: none;
    color:black;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    padding:5px 10px;
    font-size: 14px;
    background-color:var(--secondary);
    box-shadow:inset 0px 0px 15px #000,0px 0px 3px #000;
    font-family: 'Eagle Lake', sans-serif;
    margin:0px 5px;
    border:none;
    text-transform: uppercase;
    text-transform: uppercase;
    list-style-type: none;

}

header nav ul li:hover{
    text-shadow:0px 0px 25px white,3px 3px 25px #5f61ff;
    background:var(--hover);
    color:var(--grey);
  }

  header nav ul a:hover{
    color:var(--grey);
  }
/*end header*/

/* Hero Style Start */
.hero {
    background-image: url('../assets/images/sword.png');
    background-size: 100%;
    background-attachment: fixed;
    background-position: bottom;
    min-height: 200px;
    padding-right:30px;
  }

  .hero h2{
      color:black;
      text-shadow: none;
      padding-bottom: 10px;
  }
  .hero-sword {
      max-width:250px;

  }

/*hero style end*/

/*main body start*/

.your-char{
    color:var(--grey);
    margin-bottom: -20px;
    font-family: 'Commissioner','Gill Sans', sans-serif;
    font-weight: normal;
    padding-top: 20px;
}
.dropdown-content {
    display: none;
    position: absolute;
    padding:15px;
    box-shadow:inset 0px 0px 10px #000,0px 0px 4px #000;
    background-color: rgba(250, 250, 250, .9);
    min-width: 150px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.twoRow {
    padding: 10px;
    text-align: center;
}

.dropdown p:hover {
    font-weight: bold;
}
/*backgrounds*/
.swordbg {
    background-image: url('../assets/images/helm-bg.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-position: bottom; 
    position: relative;
}

.monkbg {
    background-image: url('../assets/images/MonkBg.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-position: bottom; 
    position: relative;
}
.firebg {
    background-image: url('../assets/images/FireBg.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-position: bottom; 
}

/*ImageSearch*/
#imageInput {
    font-size: 18px;
    min-height:35px;
    padding:5px;
    background-color:var(--grey);
    color:black;
    border: 2px black solid;
    font-family: 'Commissioner','Gill Sans', sans-serif;
    margin-left:0px;
    box-shadow:inset 0px 0px 10px #000,0px 0px 4px #000;
}
.blackbg {
    background:black;
    max-width:360px;
}

.pixbay-logo-link{
    max-width:120px;
    max-height:40px;
    position: absolute;
    padding:5px;
    bottom: 0;
    right:0;
    box-shadow:inset 0px 0px 10px #000,0px 0px 4px #000;
    background-color: rgba(250, 250, 250, .7);
}
.pixbay-logo-link img{
    max-width: 110px;
    max-height:30px;
}

.placeImages {
    font-size:18px;
    color: var(--grey);
    padding-left: 20px;
}

#placeImages img{
    max-width:200px;
    max-height:200px;
    flex:1;
    margin:10px;
    z-index: 9;

}
