.random-number-display, #total-dice {
    font-family: 'Eagle Lake', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding:10px 0px;
    color: #00d5c6;
    text-shadow:3px 3px 15px #00179d,5px 5px 15px #5f61ff;
    padding:10px 0px
}