#mymapdiv {
    position: absolute;
    z-index: 9;
    background: green;
  }
  #mymapdiv2 {
    position: absolute;
    z-index: 9;
    background: green;
  }
  #mymapdiv3 {
    position: absolute;
    z-index: 9;
    background: green;
  }
  #mymapdiv4 {
    position: absolute;
    z-index: 9;
    background: green;
  }
  #mymapdiv5 {
    position: absolute;
    z-index: 9;
    background: green;
  }
  
  #item {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
  }

  .width20{
      width:100px;
      display: flex;
flex:1;
margin: 10px;
  }

  .header{
      min-height: 50px;
      
  }
  .item-outer-box {
      height:50px;
      min-width: 50px;
  }