table {
    table-layout: fixed;
    width: 100%;
    height: 300px;
}

td {
    border: 1px solid black;
}

tr {
    
    text-align: center;

}

td.hour{
    padding-top: 45px;
    padding-bottom: 45px;
}
.calendar {
    display: fixed;
    color:#d8d8d8;
    height: 500px;
    width: 75%;
}

span {
    color: #d8d8d8;
}

td {
    font-size: 14px;
    background-color: rgba(250, 250, 250, .7);
    box-shadow:inset 0px 0px 10px #000,0px 0px 4px #000;
    border: none;
    font-weight: 400;
    padding: 10px 20px;
    text-transform: uppercase;
    margin:none;
    color: black;
}

.hour {
    background-color: rgb(97, 0, 0);
    color:white;
}